@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.game {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-area: 
    "board input";
  height: calc(100vh - 4.5rem);
}

.sectionBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.canvas {
  position: absolute;
  top: 0%;
  left: 0%;
}

.arrow {
  width: 100%;
}
.arrow svg {
  position: absolute;
  width: 30px;
  height: 30px;
}
.arrow h1 {
  font-size: 2.4rem;
  font-weight: 600;
  width: 100%;
}

.result {
  position: absolute;
  height: 3rem;
  text-align: center;
}

.sectionInput {
  display: flex;
  justify-content: center;
  align-items: center;
}